


<div class="container">
  <div class="row">
    <div class="col-md-12">
      1
    </div>
  </div>


  <div class="row">
    <div class="col-md-4"> 1 </div>
    <div class="col-md-4"> 2 </div>
    <div class="col-md-4"> 3 </div>
  </div>
</div>

<style>

  * {border: thin red solid; }

</style>



<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add a task
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/insert_task" method="post">
      <div>
        <label for="body_box">
          Body
        </label>

        <textarea id="body_box" name="query_body" rows="3"></textarea>
      </div>

      <div>
        <label for="status_box">
          Status
        </label>

        <input type="text" id="status_box" name="query_status">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <button class="btn btn-primary">
        Create task
      </button>
    </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



<div>
  <div>
    <h1>
      List of all tasks
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new task
    </h2>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Body
        </th>

        <th>
          Status
        </th>

        <th>
          User
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_tasks.each do |a_task| %>
      <tr>
        <td>
          <%= a_task.id %>
        </td>

        <td>
          <%= a_task.body %>
        </td>

        <td>
          <%= a_task.status %>
        </td>

        <td>
          <%= a_task.user_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_task.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_task.updated_at) %> ago
        </td>

        <td>
          <a href="/tasks/<%= a_task.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
