<div>
  <div>
    <h1>
      List of all tasks
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new task
    </h2>

    <form action="/insert_task" method="post">
      <div>
        <label for="body_box">
          Body
        </label>

        <textarea id="body_box" name="query_body" rows="3"></textarea>
      </div>

      <div>
        <label for="status_box">
          Status
        </label>

        <input type="text" id="status_box" name="query_status">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <button>
        Create task
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Body
        </th>

        <th>
          Status
        </th>

        <th>
          User
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_tasks.each do |a_task| %>
      <tr>
        <td>
          <%= a_task.id %>
        </td>

        <td>
          <%= a_task.body %>
        </td>

        <td>
          <%= a_task.status %>
        </td>

        <td>
          <%= a_task.user_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_task.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_task.updated_at) %> ago
        </td>

        <td>
          <a href="/tasks/<%= a_task.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
